/*Telas com no máximo 280px de largura*/
@media screen and (max-width: 280px) {
    /*Titulo da página inicial*/
    #titulo_Index {
        display: flex;
        padding: 0; /* -------------------- removendo o padding*/
        font-size: 5.5vw; /* -------------- alterando o tamanho da fonte*/
        width: 90%; /* -------------------- ocupando 90% da largura da div pai*/
        justify-content: center; /* ------- alinhando o texto no centro*/
    }


    /*Estilização da barra de navegação em todas as páginas*/
    nav {
        display: flex;
        flex-direction: column-reverse; /*- invertendo a posição dos itens*/
        justify-content: space-evenly;  /*- deixando os itens com espaçamento igual*/
        height: 8vh; /* ------------------- alterando a altura da barra de navegação*/
    }

    /*Estilização da lista na barra de navegação do inicio*/
    #ls_nav_index {
        padding: 0; /* -------------------- removendo o padding*/
        width: 82%; /* -------------------- ocupando 82% da largura da div pai*/
        justify-content: space-between; /*- deixando os itens espaçados*/
    }

    /*Itens da lista na barra de navegação do inicio*/
    .it_nav_index {
        font-size: 4vw; /*----------------- alterando o tamanho da fonte*/
    }

    /*Titulo dos albuns na página inicial*/
    .txt_Album { 
        color: dodgerblue;
        text-decoration: none;
        font-size: 15pt;
    }

    /*Imagens dos albuns na pagina inicial*/
    .img_Album { 
        width: 200px; /* ------------------ alterando a largura da imagem */
        height: 200px; /* ----------------- alterando a altura da imagem*/
        border-radius: 70px; /* ----------- alterando a curva da borda da imagem*/
    }

}


/*Telas com no máximo 375px*/
@media screen and (min-width: 281px) and (max-width: 375px){
    /*Titulo da página inicial*/
    #titulo_Index {
        display: flex;
        padding: 0; /* -------------------- removendo o padding*/
        font-size: 6vw; /* ---------------- alterando o tamanho da fonte*/
        width: 90%; /* -------------------- ocupando 90% da largura da div pai*/
        justify-content: center; /* ------- alinhando o texto no centro*/
    }


    /*Estilização da barra de navegação em todas as páginas*/
    nav {
        display: flex;
        flex-direction: column-reverse; /*- invertendo a posição dos itens*/
        justify-content: center; /*-------- deixando os itens no centro*/
        height: 10vh; /* ------------------ alterando a altura da barra de navegação*/
        background-color: burlywood;
    }

    /*Estilização da lista na barra de navegação do inicio*/
    #ls_nav_index {
        padding: 0; /* -------------------- removendo o padding*/
        width: 82%; /* -------------------- ocupando 82% da largura da div pai*/
        justify-content: space-between; /*- deixando os itens espaçados*/
    }

    /*Itens da lista na barra de navegação do inicio*/
    .it_nav_index {
        font-size: 4vw; /*----------------- alterando o tamanho da fonte*/
    }

    /*Titulo dos albuns na página inicial*/
    .txt_Album { 
        color: dodgerblue;
        text-decoration: none;
        font-size: 15pt;
    }

    /*Imagens dos albuns na pagina inicial*/
    .img_Album { 
        width: 250px; /* ------------------ alterando a largura da imagem */
        height: 250px; /* ----------------- alterando a altura da imagem*/
        border-radius: 75px; /* ----------- alterando a curva da borda da imagem*/
    }
}

/*Telas com no máximo 768px*/
@media screen and (min-width: 376px) and (max-width: 768px){
    
}

/*Telas com no máximo 1024px*/
@media screen and (min-width: 769px) and (max-width: 1024px){
    
}

/*Telas com no máximo 1440px*/
@media screen and (min-width: 1025px) and (min-width: 1440px){
    
}

/*Telas acima de 1441px*/
@media screen and (min-width: 1441px) {

}